*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
    text-align: center;
}

/*Header*/

header{
    height: 100vh;
    overflow: hidden;
}
nav{
    margin-top: 0rem;
    height: 10%;
    background-color: #212529;
    position: sticky;
    overflow: hidden;
}
.brand{
    position: relative;
    left: -65%;
}
.brand h1{
    font-size: 1.9rem;
    font-weight: 900;
    color: white;
}
.brand h1 span{
    color: pink;
}
nav ul{
    overflow: hidden;
	margin-left: 40%;
	height: 100%;
}

nav ul li{
	padding: 18px;
	vertical-align: middle;
}

nav ul a{
	color: white;
	font-size: 100%;
	font-weight: 500;
	vertical-align: middle;
}

#resume a{
    color: pink;
}

#particle-canvas {
  width: 100%;
  overflow: hidden;
  height: 90%;
  /*z-index: -2;*/
}

#main_heading{
	position: absolute;
    margin-top: 10rem;
    margin-left: 4rem;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
    z-index: 2;
}
#main_heading p span{
	color: pink;
}

.main_button{
    border: 2px solid pink;
    margin-top: 22rem;
    margin-left: 4rem;
	position: absolute;
    z-index: 200;
}
.btn{
	font-weight: 700;
	background: none;
	outline: none;
	width: 9rem;
	font-size: 2rem;
    padding: 1%;
	color: pink;
	cursor: pointer;
}

/*Header ends */

/*Section */
section{
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #212529;
}
.section-heading{
    color: white;
    font-size: 2rem;
    margin: 2rem;
}

/* About Section */
#about-container{
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
}
#about-img{
    width: 50%;
}
.img{
	height: 20rem;
	width: 85%;
	padding: 20px;
	margin: 0rem 5rem 1rem 2rem;
}
.about-para{
    width: 50%;
    color: white;
}
.about-para p{
    text-align: center;
    padding: 2rem;
    text-align: justify;
    font-size: 1.2rem;
}

/* About Section ends*/
#wrap{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

/* Education Section*/
#education{
	width: 50%;
}

#edu-container{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction:column;
}
.edu-box{
	/*border: 3px solid green;*/
    background-color: #202026;
	width: 85%;
    padding: 3%;
    margin-bottom: 3%;
    box-shadow: 2px 0px 10px 0px black;
}
.edu-heading{
    font-size: 1.5rem;
    font-weight: 900;
    margin-left: 2%;
    color: pink;
}
.edu-para{
    font-weight: 600;
    font-size: 1rem;
    margin-left: 2%;
    color: white;
    padding: 2px;
}
/* Education Section ends*/

/*SKills Section*/
#skills{
	width: 50%;
}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
}
.skill-container span{
    border: 2px solid pink;
    padding: 2%;
    margin: 2%;
    color: white;
    border-radius: 5px;
    background-color: #202026;
}

/*Projects section starts*/
.project-container{
   flex-direction: row;
   flex-wrap: wrap;
   margin-bottom: 1rem;
}

.project-box{
    width: 40%;
    margin: 2rem;
    height: auto;
    border-radius: 10px;
    background-color: #202026;
    background: none;
    box-shadow: 0px 2px 20px 2px black;
}

.pro-heading{
    font-size: 1.7rem;
    font-weight: 900;
    text-align: left;
    margin-left: 4%;
    padding: 10px;
    color: pink;
}
.pro-para{
    color: white;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    margin-left: 4%;
    padding: 5px;
    padding-bottom: 7px;
}

/*Contact */

.contact-container{
    display: flex;
}
.address{
    width: 50%;
    color: white;
    height: auto;
    /*background-color: #202026;*/
    box-shadow: 0px 2px 5px 3px #202026;
}
.getTouch{
    width: 85%;
    text-align: center;
    margin: auto;
    flex-direction: column;
    padding: 3% 5%;
}
.getTouch h1{
    color: pink;
   font-weight: 700;
   margin-bottom: 1%;
}
.my-address{
    flex-direction: column;
    width: 85%;
    padding: 1% 5%;
    text-align: center;
    margin: auto;
}
.my-address i{
    margin-right: 3%;
    color: white;
}
.my-address h1{
    color: pink;
    padding: 1%;
}
.my-address p{
    padding: 1%;
}

#listItems{
    margin-top: 8%;
}
.list li{
    margin: 0px 10px;
    font-size: 1.3rem;
    padding: 2% 0.5%;

}
.list li a{
    padding: 2%;
}
.list li a i{
    color: white;
    border-radius: 50%;
    transition: none;
}
.list li a i:hover{
    transform: scale(1.3);
    color: pink;
}
#map iframe{
    /*width: 50%;*/
    padding: 1% 3%;
}

/*footer*/
footer{
    width: 100%;
    color: white;
    background-color: #212529;
    height: 5.5rem;
    text-align: center;
}

/* Responsive */
 @media screen and (max-width: 1140px){
    nav ul{
        margin-left: 35%;
    }
    .brand{
        left: -50%;
    }
}
 @media screen and (max-width: 1040px){
    .brand{
        left: -30%;
    }
    nav ul{
        margin-left: 25%;
    }
}
 @media screen and (max-width: 975px){
    #main_heading{
        font-size: 3rem;
    }
}
 @media screen and (max-width: 910px){
    nav ul li{
        display: none;
    }
    .brand{
        display: block;
        left: -60%;
    }
}
 @media screen and (max-width: 850px){
    #main_heading{
        text-align: center;
        margin-left: 5%;
        padding: 2%;
    }
    .contact-container{
        flex-direction: column-reverse;
    }
    .address{
        width: 100%;
    }
}
 @media screen and (max-width: 800px){
     #main_heading{
        margin-top: 8rem;
        margin-left: 2%;
        font-size: 2.7rem;
        text-align: left;
    }
    .main_button{   
        margin-left: 5%; 
    }
    #about-container{
        flex-direction: column;
    }
    .about-para{
        width: 85%;
    }
    #about-img{
        width:85%;
    }
    #wrap{
        flex-direction: column;
    }
    #education{
        width: 100%;
    }
    #skills{
        width: 100%
    }

}
@media screen and (max-width: 680px){
    #main_heading{
        font-size: 2.9rem;
    }
    .project-box{
        width: 80%;
    }
    .brand{
        left: -55%;
    }
}
@media screen and (max-width: 580px){
    .main_button{   
        margin-top: 25rem;
    }
    #map{
        margin: auto;
        width: 80%;
    }
    #map iframe{
        width: 100%;
    }
}
@media screen and (max-width: 500px){
     #main_heading{
        margin-top: 8rem;
        margin-left: 2%;
    }
    .main_button{   
        margin-top: 25rem;
        margin-left: 3%; 
    }
}
@media screen and (max-width: 420px){
    #main_heading{
        font-size: 2.6rem;
    }
    .about-para{
        width: 95%;
    }
    .about-para p{
        text-align: left;
    }
    #about-img{
        width: 92%;
    }
    .img{
        height: 15rem;
        width: 90%;
        padding: 20px;
        margin: 0rem 0rem 1rem 1rem;
    }
}
@media screen and (max-width: 350px){
    #main_heading{
        font-size: 2.2rem;
    }
    .main_button{   
        margin-top: 22rem;
    }
}
@media screen and (max-width: 320px){
    #main_heading{
        margin-top: 6rem;
    }
}
