*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Nunito', sans-serif;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Header*/

header{
    height: 100vh;
}
nav{
    margin-top: 0rem;
    height: 10%;
    background-color: #202026;
    /*border: 2px solid white;*/
}
nav ul{
	margin-left: 40%;
	height: 100%;
}

nav ul li{
	padding: 18px;
	vertical-align: middle;
}

nav ul a{
	color: white;
	font-size: 100%;
	font-weight: 500;
	vertical-align: middle;
}

#resume{
    /*border: 2px solid white;*/
}
#resume a{
    /*border: 2px solid pink;*/
    /*background-color: #0bceaf;*/
    color: pink;
}

#particle-canvas {
  width: 100%;
  height: 90%;
}

#main_heading{
	position: absolute;
    /*border: 2px solid pink;*/
    margin-top: 10rem;
    margin-left: 4rem;
    font-size: 3.5rem;
    font-weight: 900;
    color: white;
    z-index: 2;
}
#main_heading p span{
	color: pink;
}

.main_button{
    border: 2px solid pink;
    margin-top: 22rem;
    margin-left: 4rem;
	position: absolute;
    z-index: 2;
}
.btn{
	font-weight: 700;
	background: none;
	outline: none;
	width: 9rem;
	font-size: 2rem;
	color: pink;
	cursor: pointer;
}

/*#listItems{
	position: absolute;
    border: 2px solid pink;
    margin-top: 22rem;
    margin-left: 35%;
    z-index: 2;
    background-color: red;
}
.list li{
    margin: 0px 10px;
    font-size: 1.5rem;
}
.list li a{
    cursor: pointer;
    padding: 7px;
}
.list li a:hover{
    color: grey;
    cursor: pointer;
}
.list li a i{
    cursor: pointer;
    color: grey;
    border-radius: 50%;
    transition: none;
}
.list li a i:hover{
    cursor: pointer;
    transform: scale(1.3);
    color: grey;
}*/

/*Header ends */

/*Section */
section{
    height: auto;
    width: auto;
    flex-direction: column;
    background-color: #212529;
}
.section-heading{
    color: white;
    font-size: 2rem;
    margin: 2rem;
}

/* About Section */
#about-container{
	display: flex;
	justify-content: center;
	align-items: center;
    flex-direction:row;
}
.about-img{
	height: 20rem;
	width: 30rem;
	padding: 20px;
	margin: 0rem 5rem 1rem 2rem;
}
.about-para{
    width: 45%;
    color: white;
}
.about-para p{
    text-align: center;
    padding: 2rem;
    text-align: justify;
    font-size: 1.2rem;
}

/* About Section ends*/

/* Education Section*/
#education{
	border: 2px solid white;
	width: 50%;
}
#edu-container{
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction:column;
}
.edu-box{
	border: 3px solid green;
    background-color: #202026;
	width: 85%;
}
.edu-heading{
    font-size: 1.5rem;
    font-weight: 900;
    /*padding: 15px;*/
    color: white;
}
.edu-para{
    font-weight: 600;
    font-size: 1rem;
    padding: 2px;
}
/* Education Section ends*/

/*SKills Section*/
#skills{
	border: 2px solid white;
	width: 50%;
}